<div class="container-my center">
  <div class="card">
    <div class="card-body  text-light">

      <h2>Sign up</h2>

      <%= render 'form' %>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>