<div class="container-my center">
  <div class="card">
    <div class="card-body text-light">

      <h2 class="mb-4">Log in</h2>

      <%= render 'form' %>
      
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>